body {
   color: rgb(7, 213, 0);
   background: black;
   margin: 0px;
   font-family: "Chakra Petch", sans-serif;
   margin-bottom: 100px;
}

header {
   border-bottom: solid 2px rgb(8, 76, 164);
   padding: 30px;
   font-size: 40px;
   color: rgb(1, 55, 126);
}

.chamada {
   background: rgb(0, 0, 0);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto {
   margin-right: 5%;
}

h1 {
   font-size: 70px;
}

p {
   font-size: 50px;
}

.categoria-videos {
   display: flex;
   overflow-x: auto;
   gap: 50px;
}

.categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
}

.categoria-videos img {
   opacity: 0.5;
   height: 400px;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 40px solid rgb(5, 203, 5);
}

.categoria h2 {
   color: rgb(34, 193, 6);
}